<!DOCTYPE html>
<html>
    <head>
        <title>
      TODO LIST
        </title>
        <link rel="stylesheet" href="/CSS/styles.css">
    </head>
    <body>
        <div class="box">
            <h1>Todo List</h1>
        </div>
        <div class="box">
           <% for(var i=0; i< ejes.length ; i++){ %>
              <div class="item">
               <input type="checkbox" >
                <p> <%=ejes[i] %></p>
                </div>
                
            <% } %>
          
            <form action="/"method="POST">
               <input type="text" name="task" placeholder="Enter task"> 
               <button type="submit">+</button>

            </form>
        </div>
    </body>
</html>